
@mixin flex-justify ($value) {
    display: flex;
    align-items: center;
    @if( $value !=null)  {
        justify-content: $value;
    }      
    
}
.wrap{
    @include flex-justify(center);
    height: 50px;
    background-color: bisque;
    border-radius: 20px;
    padding: 0 5px;
    margin: 15px 0; 
    & .task-info{
        
        flex: 4;
        & input{
            margin: 0 5px;
        }
        &-text{
            padding-left: 10px;
        }
    }
    & .task-option{
        flex: 1;
        display: flex;
        justify-content: space-around;
        & span{
            cursor: pointer;
        }
    }
    & span{
        cursor: pointer;
        margin: 0 10px;
    }
}