.adblock{
    /* width: 100%; */
    min-height: 900px;
    background-color: #494b58;
    display: flex;
    justify-content: center;
    align-items: center;



    padding: 20px 0;
}
.wrap-adblock-item{
    max-width: 1200px;
    min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.wrap-adblock-item--logo{
    width: 80px;
    min-height: 80px;
    border-radius: 50%;
    border: 6px solid #acab67;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrap-adblock-item--title{
    font-size: 4rem;
    letter-spacing: 5px;
    
    color: #ececed;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
}
.wrap-adblock-item--description p{
    font-size: 24px;
    line-height: 37px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Source Sans Pro";
    text-align: left;
}

.wrap-adblock-item--btn button{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
    letter-spacing: 1px;
    line-height: 54px;
    color: #4dc3c9;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    min-height: 50px;
    min-width: 250px;
    border-radius: 30px;
    border: 4px solid #4dc3c9;
    cursor: pointer;
}