.uppercase{
    text-transform: uppercase;
}
.capitalize{
    text-transform: capitalize;
}
.products{
    min-height: 850px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products p{
    text-align: center;
    width: 95%;
}
.wraps3{
    width: 1200px;
    min-height: 700px;
    display: flex;
    justify-items: flex-end;
    justify-content: center;
    align-items: center;
}
.wrapsec3{
    
    width: 100%;
    min-height: 730px;
    display: flex;
    padding-top: 50px;
    justify-content: center;
   
}
.colsec3{
    box-sizing: border-box;
    height: 730px;
    color: #393d50;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    transition: height 1s,border 1s;
    margin-bottom: 100px;
}
.wraper-col{
    min-height: 670px;
    transition: border 1s;
}
.wrap_col_bottom{
    height: 530px !important;
    border: 1px solid #dfe5e7;
    transition: border 1s;
}
.colsec3:hover .wrap_col_bottom{
    border: 1px solid #393d50;
}
.colsec3:hover .col-sec3-title{
    /* border: 1px solid #393d50; */
    padding: 15px 0;
}

.colsec3:hover .displaynone{
    display: block;
}
.col-sec3-title{
    position: relative;
    width: 100%;
    height: 150px;
    display: flex  ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #393d50;
    color: #00bcd4;
    transition: padding 1s;
}
.col-sec3-sub{
    height: 95px;
    width: 100%;
    display: flex  ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-sec3-sub h2{
    color: #00bcd4;
    font-size: 2rem;
    font-weight: 100;
}
.con-sec3-list{
    height: 300px;
    width: 100%;
}
.con-sec3-list__color{
    background-color: #f4f6f7;
}
.con-sec3-list li{
   width: 100%;
   height: 20%;
   display: flex  ;
    align-items: center;
    justify-content: center;
}
.col-sec3-btn{
    box-sizing: border-box;
    height: 100px;
    width: 100%;
    display: flex  ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.col-sec3-btn button{
    height: 35px;
    width: 30%;
    background-color: transparent;
    border: 3px solid #00bbd3;
    color: #00bbd3;
    border-radius: 5px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.col-sec3-btn button:hover{
    background-color: #00bbd3;
    color: #fff;
}
.col-sec3-btn button:hover .order-text{
    background-color: #00bbd3;
    color: #fff;
}
.col-sec3-btn button:hover .triangle-sec3{
    
    border-left: 7px solid #fff;
}
.col-sec3-btn span + span{
    margin-left: 5px;
}
.order-text{
    font-size: 16px;
    letter-spacing: 1px;
    color: #00bbd3;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
}
.triangle-sec3{
    box-sizing: border-box;
    height: 0;
    width: 0;
    border-left: 7px solid #00bcd4;
    border-right: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-top: 7px solid transparent;
}
.new-sec3{
    position: absolute;
    height: 3rem;
    width: 3rem;
    background-color: #ffcd37;
    border-radius: 50%;
    color: #393d50;
    display: flex;
    top: 0;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transform: translateX(-50%) translateY(-50%);
    left: 50%;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 700;
    font-family: "Montserrat";
}
.fa-caret-right{
    font-size: 15px;
}
.font-mon{
    font-size: 36px;
    letter-spacing: 2px;
    color: #00bcd4;
    font-weight: 300;
    font-family: "Montserrat";
    text-align: center;
}
.font-price{
    font-size: 24px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Source Sans Pro";
    text-align: center;
}
 .cl99a9b5{
    color: #99a9b5;
}