/* description */


.description{
    min-height:300px ;
    max-width: 1200px;
    margin: auto;
}
.wrapdescription{
    color: #212331;
    text-align: center;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
}
.wrapdescription-descripstion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 16px;
    line-height: 25px;
    color: #5f727f;
    font-weight: 400;
    font-family: "Source Sans Pro";
}
.wrapdescription p{
    text-align: left;
}
.wrapdescription .aline-ct {
    text-align: center;
}
.lorem-text{
    font-size: 50px;
    letter-spacing: 3px;
    color: #3c3950;
    font-weight: normal;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
    padding-right: 10px;
}
.ipsum-text{
    font-size: 50px;
    letter-spacing: 3px;
    color: #3c3950;
    font-weight: bolder;
    font-family: "Montserrat";
    text-align: center;
    text-transform: uppercase;
}