.wrapper{
    background-color: antiquewhite;
    height: 100px;
    padding: 30xp;
    & .user{
        cursor: pointer;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        & p{
            margin: 0;
        }
    }
    & .wrap-search{
        width: 1200px;        
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content:  space-between;
        & .search{
            width: 400px;
            height: 50px;
            background-color: rgb(241 241 242);
            border-radius: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            &--height{
                height: 100%;
                background-color: transparent;
            }
            
            &-select{
               width: 20%;
               padding-left: 10px;
            }
            &-input{
                width: 60%;
            }
            &-btn{
                flex: 1;
                cursor: pointer;
                border-radius: 0 30px 30px 0;
                &:hover{
                    background-color: azure;
                    
                }
            }
        }
    }
}
.option-user{
    width: 200px;
    height: 80px;
    margin-top: -17px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    box-shadow: rgb(0 0 0 /12%) 0px 2px 12px;
    border-radius: 10px;
    & button{
        background-color: transparent;
        width: 100%;
        &:hover{
            background-color: #f1f1f2;
        }
    }
}